doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{user.username} | Logger Dashboard
    link(href='/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/vendors/nprogress/nprogress.css', rel='stylesheet')
    link(href='/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
    link(href='/build/css/custom.min.css', rel='stylesheet')
  #popup.modal-dialog.modal-sm(style="position: absolute; z-index: 1000000; top: 50%; left: 50%; transform: translate(-50%, -50%);")
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')#close
          span(aria-hidden='true')#close ×
        h4.modal-title Configuration Response
          .modal-body
            p#message-content
              | Oof
          .modal-footer#close
            button.btn.btn-default(type='button', data-dismiss='popup', onclick="hidePopup()")#close Close
  body.nav-md
    .container.body
      .main_container
        .col-md-3.left_col
          .left_col.scroll-view
            .navbar.nav_title(style='border: 0;')
              a.site_title(href='/')
                img(src='/images/loggericon.png')
                span  Logger
            .clearfix
            // menu profile quick info
            .profile.clearfix
              .profile_pic
                img.img-circle.profile_img(src='#{user.avatarURL}', alt='...')
              .profile_info
                span Logged in as,
                h2 #{user.username}
            // /menu profile quick info
            br
            // sidebar menu
            #sidebar-menu.main_menu_side.hidden-print.main_menu
              .menu_section
                h3 General
                ul.nav.side-menu
                  li
                    a
                      i.fa.fa-home
                      |  Home 
                      span.fa.fa-chevron-down
                    ul.nav.child_menu
                      li
                        a(href='/') Home
                      li
                        a(href='/serverselector') Server selector
                      li
                        a(href='/lastnames') Your last names
                  li
                    a(href='https://discordapp.com/oauth2/authorize?client_id=298822483060981760&scope=bot&permissions=380065', target='_blank')
                      i.fa.fa-envelope
                      |  Invite
                  li
                    a(href='https://www.patreon.com/logger', target='_blank')
                      i.fa.fa-hand-peace-o
                      |  Patreon
                  li
                    a(href='https://discord.gg/ed7Gaa3', target='_blank')
                      i.fa.fa-life-ring
                      |  Discord Server
            // /sidebar menu
            // /menu footer buttons
            .sidebar-footer.hidden-small
              a(data-toggle='tooltip', data-placement='top', title='Logout', href='/logout', style="width: 100%")
                span.glyphicon.glyphicon-off(aria-hidden='true')
            // /menu footer buttons
        // top navigation
        .top_nav
          .nav_menu
            nav
              .nav.toggle
                a#menu_toggle
                  i.fa.fa-bars
              ul.nav.navbar-nav.navbar-right
                li
                  a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    img(src='#{user.avatarURL}', alt='')
                    | #{user.username} 
                    span.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='https://discord.gg/ed7Gaa3') Help
                    li
                      a(href='/logout')
                        i.fa.fa-sign-out.pull-right
                        |  Log Out
                li
                    a(href='https://discordapp.com/oauth2/authorize?client_id=298822483060981760&scope=bot&permissions=380065', target='_blank')
                      i.fa.fa-envelope
                      |  Invite
                li
                  a(href='https://www.patreon.com/logger', target='_blank')
                    i.fa.fa-hand-peace-o
                    |  Patreon
                li
                  a(href='https://discord.gg/ed7Gaa3', target='_blank')
                    i.fa.fa-life-ring
                    |  Discord Server
        // /top navigation
        // page content
        .right_col(role='main')
          h1.text-center Your last names #[small (recent to old descending)]:
          h4.text-center Logged in as #{user.username}        #[button(onclick="clearLastNames()").btn.btn-danger Clear saved names]
          br
          ul.list-group
            each name in names
                li.list-group-item #{name}
          // top tiles
          // /top tiles
        // /page content
        // footer content
        footer
          .pull-right
            | Gentelella - Bootstrap Admin Template by 
            a(href='https://colorlib.com') Colorlib
          .clearfix
        // /footer content
    script(src='/vendors/jquery/dist/jquery.min.js')
    script(src='/vendors/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendors/nprogress/nprogress.js')
    script(src='/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
    script(src='/build/js/custom.min.js')
    script.
      let modal = document.getElementById('popup')
      let span = document.getElementById('close')
      let message = document.getElementById('message-content')
      let btn = document.getElementById('submitB')
      modal.style.display = "none";
      function hidePopup() {
        modal.style.display = "none"
      }
      span.onclick = hidePopup
      window.onclick = function(event) {
          if (event.target == modal) {
              hidePopup()
          }
      }
      function clearLastNames() {
        $.ajax({
                type:'POST',
                url:'https://whatezlife.com/clearlastnames',
                success:function(msg) {
                    message.innerHTML = msg.message
                    modal.style.display = 'block'
                },
                error:function (msg) {
                  console.log(msg)
                  message.innerHTML = msg.message
                  modal.style.display = 'block'
                }
            })
      }
